# Gradle
.gradle/
build/
**/build/

# Local configuration
local.properties

# Log / OS
*.log
.DS_Store

# Android Studio / IntelliJ
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
captures/
.externalNativeBuild/
.cxx/
.navigation/

# Build outputs
*.apk
*.ap_
*.aab
*.dex
*.class
output-metadata.json
bin/
gen/
out/
release/

# Keystore
*.jks
*.keystore
!debug.keystore

# Profiling
*.hprof

# Firebase / Google Services
google-services.json
